{% comment %}

  Accepts:
  - product: {Object} The product object
  - section: {Object} The section object

  Usage:
  {% render 'pak-product-quote-customization', product: product, section: section %}
{% endcomment %}


<link
  rel="stylesheet"
  href="{{ 'pak-product-quote-customization.css' | asset_url }}"
  media="print"
  onload="this.media='all'">

<link
  rel="stylesheet"
  href="{{ 'pak-custom-dimension.css' | asset_url }}"
  media="print"
  onload="this.media='all'">

<script src="{{ 'pak-product-quote-customization.js' | asset_url }}" defer></script>
<script src="{{ 'pak-custom-dowpdown.js' | asset_url }}" defer></script>
<script src="{{ 'pak-custom-dimension.js' | asset_url }}" defer></script>

<div class="product-quote-customization" data-section-id="{{ section.id }}">
  <p>
    Fill out as much information as you can below — this helps our experts prepare your quote faster and reduces the need for follow-ups.
  </p>

  <!-- Dimensions -->
  <div class="quote-toggle-group">
    <div class="quote-toggle-header">
      <div class="quote-toggle-header__title">Dimensions</div>
      <label class="toggle-switch">
        <input
          type="checkbox"
          class="toggle-input"
          data-toggle-target="dimensions-section"
          checked>
        <span class="toggle-slider"></span>
      </label>
    </div>

    <div class="quote-toggle-content" id="dimensions-section">
      {% render 'pak-custom-dimension'
        , product: product
        , section: section %}
    </div>
  </div>

  <!-- Capabilities -->
  <div class="quote-toggle-group">
    <div class="quote-toggle-header">
      <div class="quote-toggle-header__title">Capabilities Options</div>
      <label class="toggle-switch">
        <input
          type="checkbox"
          class="toggle-input"
          data-toggle-target="capabilities-section"
          checked>
        <span class="toggle-slider"></span>
      </label>
    </div>

    <div class="quote-toggle-content" id="capabilities-section">
      {% render 'pak-product-options'
        , product: product
        , section: section %}

    </div>

  </div>


  <!-- Project Detail -->
  <div class="quote-toggle-group">
    <div class="quote-toggle-header">
      <div class="quote-toggle-header__title">Project Description</div>
    {% comment %} <label class="toggle-switch">
                                                                              <input
                                                                                type="checkbox"
                                                                                class="toggle-input"
                                                                                data-toggle-target="addons-section"
                                                                                checked>
                                                                              <span class="toggle-slider"></span>
                                                                              </label> 
                                                    {% endcomment %}
    </div>

    <div class="quote-toggle-content" id="addons-section">
      {% render 'pak-custom-project-description'
        , product: product
        , section: section
        , metafield_key: 'custom.product_option_'
        , label_text: 'Add Ons'
        , property_name: 'Add On'
        , default_option: "Let's discuss" %}
    </div>
  </div>
</div>