<script src="{{ 'pak-custom-quote-quote-cart.js' | asset_url }}" defer></script>
<script src="{{ 'pak-custom-quote-custom-quantity-input-editing.js' | asset_url }}" defer></script>
<link
  rel="stylesheet"
  href="{{ 'pak-custom-quote-custom-inputs.css' | asset_url }}"
  media="print"
  onload="this.media='all'">


<div style="position:relative;" {{ attributes }}>
  <div id="loader-for-min-max-quantity" class="loading-overlay__spinner hidden">
    {%- render 'icon-loading' -%}
  </div>
  <div class="quantity-input-text-container">
    {% assign first_product_line = product.metafields.custom.product_line.value | first %}
    {% assign product_line_moq = first_product_line.moq %}
    {% if product_line_moq == blank %}
      {% assign product_line_moq = 100 %}
    {% endif %}

    <div>
      <div class="quantity-input-items-container">
        <input
          type="number"
          id="product-item-quantity"
          min="{{ product_line_moq }}"
          placeholder="Min {{ product_line_moq }} ">
        <button id="add-new-quantity">Add Quantity</button>
      </div>
      <div class="quantity-input-error-div" style="display:none;"></div>
      <div class="added-quantity-container"></div>
    </div>
  </div>
</div>
<div id="div-for-product-type" data-product-type="{{ product.type }}"></div>