{{ 'pak-custom-quote-quote-checkout.css' | asset_url | stylesheet_tag }}

<!-- Popup for quote request received -->
    <div style="display:none; position:fixed;" class="quote-request-submit-popup-overlay" id="quote-request-completed-popup">
      <div class="popup-request-submit-details-container">
        <div class="popup-svg-container">
          <img src="{{ 'popup-quote-icon.png' | asset_url }}" />
        </div>
        <div class="popup-text-contaianer">
          <h3>Quote Request Received</h3>
          <p>Thanks! You can track your quote in your account. We'll email you once its received.</p>
        </div>
        <div class="popup-buttons-container">
          <a href="{{ request.origin }}/pages/all-request" class="popup-view-quote-button" id="view-all-quotes-button">View My Quotes</a>
          <a href="{{ request.origin }}/collections/all" class="popup-continue-shopping-button" id="continue-shopping-button">Continue Shopping</a>
          <!-- <button class="popup-continue-shopping-button" id="continue-shopping-button">Continue Shopping</button> -->
        </div>
      </div>
    </div>

<!-- Popup for quote request received -->







<div class="container" style="position:relative;">
  <div id="quote-checkout-loader" class="loading-overlay__spinner hidden">
      {%- render 'icon-loading' -%}
  </div>
  <div>
    <div class="quote-checkout-container">
      <div class="quote-checkout-form-and-product-info-wrapper">
        <div class="contact-form-wrapper">
          <form id="quoteCustomerInfoForm" enctype="multipart/form-data">
            <div class="contact-info-tab">
              <div class="popup-product-information-step-2">
                <h2>Contact Information</h2>
                <p>In order to reach out to you we would like to know a bit more about you.</p>
              </div>
              <div class="contact-form">
                <div class="form-row">
                  <div class="form-group">
                    <label for="first-name">First name<span class="required">*</span></label>
                    <input type="text" id="first-name" placeholder="John" required>
                    <div class="error" id="error-first-name"></div>
                  </div>
                  <div class="form-group">
                    <label for="last-name">Last name<span class="required">*</span></label>
                    <input type="text" id="last-name" placeholder="Smit" required>
                    <div class="error" id="error-last-name"></div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group">
                    <label for="email">Email<span class="required">*</span></label>
                    <input type="email" id="email" placeholder="john@smit.com" required>

                    <div class="error" id="error-email"></div>
                  </div>
                  <div class="form-group">
                    <label for="company">Company<span class="required">*</span></label>
                    <input type="text" id="company" placeholder="Apple" required>
                    <div class="error" id="error-company"></div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group">
                    <label for="phone">Phone<span class="required">*</span></label>
                    <input type="tel" id="phone" value="" required>
                    <div class="error" id="error-phone"></div>
                  </div>
                  <div class="form-group">
                    <label for="communication">Communication<span class="required">*</span></label>
                    <select id="communication" required>
                      <option value="">How should we reach out?</option>
                      <option value="email">Email</option>
                      <option value="phone">Phone</option>
                    </select>
                    <div class="error" id="error-communication"></div>
                  </div>
                </div>
                <!-- <div class="form-row">
                  <div class="form-group full-width">
                    <label for="remarks">Remarks</label>
                    <textarea id="remarks" rows="3"></textarea>
                  </div>
                </div> -->
              </div>
            </div>

            <div class="contact-info-tab">
              <div class="popup-product-information-step-2">
                <h2>Shipping Information</h2>
                <p>Kindly provide complete shipping information to ensure shipping costs are included in your quotation.</p>
              </div>
              <div class="contact-form">
                <div class="form-row">
                  <div class="form-group">
                    <label for="country-name">Country<span class="required">*</span></label>
                    <select id="country-name" required>
                      <option value="" disabled selected>Select your country</option>
                      <option value="AF">Afghanistan</option>
                      <option value="AX">Åland</option>
                      <option value="AL">Albania</option>
                      <option value="DZ">Algeria</option>
                      <option value="AS">American Samoa</option>
                      <option value="AD">Andorra</option>
                      <option value="AO">Angola</option>
                      <option value="AI">Anguilla</option>
                      <option value="AQ">Antarctica</option>
                      <option value="AG">Antigua and Barbuda</option>
                      <option value="AR">Argentina</option>
                      <option value="AM">Armenia</option>
                      <option value="AW">Aruba</option>
                      <option value="AU">Australia</option>
                      <option value="AT">Austria</option>
                      <option value="AZ">Azerbaijan</option>
                      <option value="BS">The Bahamas</option>
                      <option value="BH">Bahrain</option>
                      <option value="BD">Bangladesh</option>
                      <option value="BB">Barbados</option>
                      <option value="BY">Belarus</option>
                      <option value="BE">Belgium</option>
                      <option value="BZ">Belize</option>
                      <option value="BJ">Benin</option>
                      <option value="BM">Bermuda</option>
                      <option value="BT">Bhutan</option>
                      <option value="BO">Bolivia</option>
                      <option value="BA">Bosnia and Herzegovina</option>
                      <option value="BW">Botswana</option>
                      <option value="BV">Bouvet Island</option>
                      <option value="BR">Brazil</option>
                      <option value="IO">British Indian Ocean Territory</option>
                      <option value="VG">British Virgin Islands</option>
                      <option value="BN">Brunei</option>
                      <option value="BG">Bulgaria</option>
                      <option value="BF">Burkina Faso</option>
                      <option value="BI">Burundi</option>
                      <option value="KH">Cambodia</option>
                      <option value="CM">Cameroon</option>
                      <option value="CA">Canada</option>
                      <option value="CV">Cape Verde</option>
                      <option value="KY">Cayman Islands</option>
                      <option value="CF">Central African Republic</option>
                      <option value="TD">Chad</option>
                      <option value="CL">Chile</option>
                      <option value="CN">China</option>
                      <option value="CX">Christmas Island</option>
                      <option value="CC">Cocos (Keeling) Islands</option>
                      <option value="CO">Colombia</option>
                      <option value="KM">Comoros</option>
                      <option value="CG">Congo</option>
                      <option value="CD">Congo, The Democratic Republic of the</option>
                      <option value="CK">Cook Islands</option>
                      <option value="CR">Costa Rica</option>
                      <option value="HR">Croatia</option>
                      <option value="CU">Cuba</option>
                      <option value="CY">Cyprus</option>
                      <option value="CZ">Czech Republic</option>
                      <option value="DK">Denmark</option>
                      <option value="DJ">Djibouti</option>
                      <option value="DM">Dominica</option>
                      <option value="DO">Dominican Republic</option>
                      <option value="EC">Ecuador</option>
                      <option value="EG">Egypt</option>
                      <option value="SV">El Salvador</option>
                      <option value="GQ">Equatorial Guinea</option>
                      <option value="ER">Eritrea</option>
                      <option value="EE">Estonia</option>
                      <option value="SZ">Eswatini</option>
                      <option value="ET">Ethiopia</option>
                      <option value="FK">Falkland Islands</option>
                      <option value="FO">Faroe Islands</option>
                      <option value="FJ">Fiji</option>
                      <option value="FI">Finland</option>
                      <option value="FR">France</option>
                      <option value="GF">French Guiana</option>
                      <option value="PF">French Polynesia</option>
                      <option value="TF">French Southern Territories</option>
                      <option value="GA">Gabon</option>
                      <option value="GM">Gambia</option>
                      <option value="GE">Georgia</option>
                      <option value="DE">Germany</option>
                      <option value="GH">Ghana</option>
                      <option value="GI">Gibraltar</option>
                      <option value="GR">Greece</option>
                      <option value="GL">Greenland</option>
                      <option value="GD">Grenada</option>
                      <option value="GP">Guadeloupe</option>
                      <option value="GU">Guam</option>
                      <option value="GT">Guatemala</option>
                      <option value="GG">Guernsey</option>
                      <option value="GN">Guinea</option>
                      <option value="GW">Guinea-Bissau</option>
                      <option value="GY">Guyana</option>
                      <option value="HT">Haiti</option>
                      <option value="HM">Heard Island and McDonald Islands</option>
                      <option value="HN">Honduras</option>
                      <option value="HK">Hong Kong</option>
                      <option value="HU">Hungary</option>
                      <option value="IS">Iceland</option>
                      <option value="IN">India</option>
                      <option value="ID">Indonesia</option>
                      <option value="IR">Iran</option>
                      <option value="IQ">Iraq</option>
                      <option value="IE">Ireland</option>
                      <option value="IM">Isle of Man</option>
                      <option value="IL">Israel</option>
                      <option value="IT">Italy</option>
                      <option value="JM">Jamaica</option>
                      <option value="JP">Japan</option>
                      <option value="JE">Jersey</option>
                      <option value="JO">Jordan</option>
                      <option value="KZ">Kazakhstan</option>
                      <option value="KE">Kenya</option>
                      <option value="KI">Kiribati</option>
                      <option value="KP">North Korea</option>
                      <option value="KR">South Korea</option>
                      <option value="KW">Kuwait</option>
                      <option value="KG">Kyrgyzstan</option>
                      <option value="LA">Laos</option>
                      <option value="LV">Latvia</option>
                      <option value="LB">Lebanon</option>
                      <option value="LS">Lesotho</option>
                      <option value="LR">Liberia</option>
                      <option value="LY">Libya</option>
                      <option value="LI">Liechtenstein</option>
                      <option value="LT">Lithuania</option>
                      <option value="LU">Luxembourg</option>
                      <option value="MO">Macao</option>
                      <option value="MG">Madagascar</option>
                      <option value="MW">Malawi</option>
                      <option value="MY">Malaysia</option>
                      <option value="MV">Maldives</option>
                      <option value="ML">Mali</option>
                      <option value="MT">Malta</option>
                      <option value="MH">Marshall Islands</option>
                      <option value="MQ">Martinique</option>
                      <option value="MR">Mauritania</option>
                      <option value="MU">Mauritius</option>
                      <option value="YT">Mayotte</option>
                      <option value="MX">Mexico</option>
                      <option value="FM">Micronesia</option>
                      <option value="MD">Moldova</option>
                      <option value="MC">Monaco</option>
                      <option value="MN">Mongolia</option>
                      <option value="ME">Montenegro</option>
                      <option value="MS">Montserrat</option>
                      <option value="MA">Morocco</option>
                      <option value="MZ">Mozambique</option>
                      <option value="MM">Myanmar</option>
                      <option value="NA">Namibia</option>
                      <option value="NR">Nauru</option>
                      <option value="NP">Nepal</option>
                      <option value="NL">Netherlands</option>
                      <option value="AN">Netherlands Antilles</option>
                      <option value="NC">New Caledonia</option>
                      <option value="NZ">New Zealand</option>
                      <option value="NI">Nicaragua</option>
                      <option value="NE">Niger</option>
                      <option value="NG">Nigeria</option>
                      <option value="NU">Niue</option>
                      <option value="NF">Norfolk Island</option>
                      <option value="MK">North Macedonia</option>
                      <option value="MP">Northern Mariana Islands</option>
                      <option value="NO">Norway</option>
                      <option value="OM">Oman</option>
                      <option value="PK">Pakistan</option>
                      <option value="PW">Palau</option>
                      <option value="PS">Palestine</option>
                      <option value="PA">Panama</option>
                      <option value="PG">Papua New Guinea</option>
                      <option value="PY">Paraguay</option>
                      <option value="PE">Peru</option>
                      <option value="PH">Philippines</option>
                      <option value="PN">Pitcairn</option>
                      <option value="PL">Poland</option>
                      <option value="PT">Portugal</option>
                      <option value="PR">Puerto Rico</option>
                      <option value="QA">Qatar</option>
                      <option value="RE">Réunion</option>
                      <option value="RO">Romania</option>
                      <option value="RU">Russia</option>
                      <option value="RW">Rwanda</option>
                      <option value="BL">Saint Barthélemy</option>
                      <option value="SH">Saint Helena</option>
                      <option value="KN">Saint Kitts and Nevis</option>
                      <option value="LC">Saint Lucia</option>
                      <option value="MF">Saint Martin</option>
                      <option value="PM">Saint Pierre and Miquelon</option>
                      <option value="VC">Saint Vincent and the Grenadines</option>
                      <option value="WS">Samoa</option>
                      <option value="SM">San Marino</option>
                      <option value="ST">Sao Tome and Principe</option>
                      <option value="SA">Saudi Arabia</option>
                      <option value="SN">Senegal</option>
                      <option value="RS">Serbia</option>
                      <option value="SC">Seychelles</option>
                      <option value="SL">Sierra Leone</option>
                      <option value="SG">Singapore</option>
                      <option value="SX">Sint Maarten</option>
                      <option value="SK">Slovakia</option>
                      <option value="SI">Slovenia</option>
                      <option value="SB">Solomon Islands</option>
                      <option value="SO">Somalia</option>
                      <option value="ZA">South Africa</option>
                      <option value="GS">South Georgia and the South Sandwich Islands</option>
                      <option value="SS">South Sudan</option>
                      <option value="ES">Spain</option>
                      <option value="LK">Sri Lanka</option>
                      <option value="SD">Sudan</option>
                      <option value="SR">Suriname</option>
                      <option value="SJ">Svalbard and Jan Mayen</option>
                      <option value="SE">Sweden</option>
                      <option value="CH">Switzerland</option>
                      <option value="SY">Syria</option>
                      <option value="TW">Taiwan</option>
                      <option value="TJ">Tajikistan</option>
                      <option value="TZ">Tanzania</option>
                      <option value="TH">Thailand</option>
                      <option value="TL">Timor-Leste</option>
                      <option value="TG">Togo</option>
                      <option value="TK">Tokelau</option>
                      <option value="TO">Tonga</option>
                      <option value="TT">Trinidad and Tobago</option>
                      <option value="TN">Tunisia</option>
                      <option value="TR">Turkey</option>
                      <option value="TM">Turkmenistan</option>
                      <option value="TC">Turks and Caicos Islands</option>
                      <option value="TV">Tuvalu</option>
                      <option value="UG">Uganda</option>
                      <option value="UA">Ukraine</option>
                      <option value="AE">United Arab Emirates</option>
                      <option value="GB">United Kingdom</option>
                      <option value="US">United States</option>
                      <option value="UM">United States Minor Outlying Islands</option>
                      <option value="UY">Uruguay</option>
                      <option value="UZ">Uzbekistan</option>
                      <option value="VU">Vanuatu</option>
                      <option value="VA">Vatican City</option>
                      <option value="VE">Venezuela</option>
                      <option value="VN">Vietnam</option>
                      <option value="WF">Wallis and Futuna</option>
                      <option value="EH">Western Sahara</option>
                      <option value="YE">Yemen</option>
                      <option value="ZM">Zambia</option>
                      <option value="ZW">Zimbabwe</option>


                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group">
                    <label for="street-name">Address<span class="required">*</span></label>
                    <input type="text" id="street-name" placeholder="123 Main Street" required>
                    <!-- <gmp-place-autocomplete id="autocomplete" placeholder="123 Main Street" style="width: 100%;"></gmp-place-autocomplete> -->

                    <div class="error" id="error-street-name"></div>
                    
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group">
                    <label for="city-name">City<span class="required">*</span></label>
                    <input type="text" id="city-name" placeholder="Anytown" required>
                    <div class="error" id="error-city-name"></div>
                  </div>
                  <div class="form-group">
                    <label for="state-name">State<span class="required">*</span></label>
                    <div id="state-container">
                    <!-- Default: disabled select -->
                    <select id="state-name" disabled required>
                      <option value="" disabled selected>Select State</option>
                    </select>
                  </div>

                  </div>

                  <div class="form-group">
                    <label for="zipcode">Zipcode<span class="required">*</span></label>
                    <input type="text" id="zipcode" placeholder="90210" required>
                  </div>    


                </div>
                <div class="error form-row" id="error-zipcode"></div> <!-- ✅ This is where error goes -->
                
              </div>
            </div>
          </form>
        </div>
        <div class="products-info-wrapper">
          <div class="quote-checkout-products-grid">
            <!--
              <div class="quote-checkout-product-item">
                <div class="quote-checkout-product-image">
                  <img src="https://cdn.shopify.com/s/files/1/0924/3099/1671/files/c001_tab_lock_roll_end_corrugated_box_02_64x64.jpg?v=1739644317" width="80" height="80"/>
                </div>
                <div class="quote-checkout-product-details">
                  <h4 class="product-title-h4">Tab Lock Roll End Corrugated Box</h4>
                  <h4 class="product-sku-h4">SKU: F014</h4>
                  <h4 class="product-variant-h4">Variant: Gray</h4>
                  <h4 class="product-quantity-h4">Quantites: 2000, 5000, 3000</h4>
                </div>
              </div>
            -->
          </div>
        </div>
        <div class="submit-button-wrapper">
          <button id="quote-submit-button" class="button button--secondary quote-checkout-submit-button" form="quoteCustomerInfoForm" type='submit'>Submit Quote</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="thankyou-overlay-container" style="display:none;">
    
  <div id="thank-you-popup" class="popup-thank-you">
    <button class="close-btn">×</button>
    <div class="thank-you-content">
      <div class="thank-you-logo-indicator" >
        <svg
          class="h-6 w-6 text-green-600"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
        </svg>
      </div>
      <div class="thank-you-text">
        <h2>Thank you</h2>
        <p>We have successfully received your quote and will reach out to you shortly.</p>
      </div>
    </div>
    <div class="thank-you-close-window-button">
      <button
        type="button"
      >
        Close window
      </button>
    </div>
  </div>
  </div>
    
</div>


<script src="{{ 'pak-custom-quote-quote-checkout.js' | asset_url }}"></script>

